@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,500&display=swap");
@import url("https://assets.nopixel.net/web/fonts/gilroy/stylesheet.css");

* {
  font-family: "Handlee", cursive;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

@font-face {
font-family: Header;
src: url("../fonts/AsherPunkDemoVersion-06bf6491.ttf") format("truetype");
}

#body {
  display: none;
}

.bg{
  position: absolute;
  width:100%;
  height: 100%;
  background-color: gray;
}

.book-start-page{
  position: absolute;
  width: 65%;
  height: 65%;
  top: 17%;
  left: 18%;
  z-index: 1;
}

.book-start-page .book{
  width: 50%;
  overflow: initial;
  left: 25%;
  height: 100%;
  display: block;
  z-index: 1;
  position: absolute;
}

.book-start-page .papers{
  display: none;
}

.book-start-page img{
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
}

.book-start-page .header{
  position: absolute;
  color: #848484;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 2vw;
  left: 20%;
  right: 8%;
  top: 10%;
  z-index: 1;
  letter-spacing: -0.2vw;
  outline: none;
  border: none;
  text-align: center;
  background-color: transparent;
}

.book-start-page .desc{
  position: absolute;
  color: #848484;
  font-weight: 500;
  font-size: 1vw;
  left: 21%;
  right: 10%;
  z-index: 1;
  letter-spacing: 0.35vw;
  top: 18%;
  text-align: center;
  outline: none;
  border: none;
  background-color: transparent;
}

.book-start-page .button{
  position: absolute;
  background-color: #173432;
  color: #55a79b;
  font-weight: 500;
  font-size: 1vw;
  left: 35%;
  top: 82%;
  border-radius: 0.1vw;
  padding: 0.5vw 6vw;
  cursor: pointer;
  transition-duration: 0.5s;
  z-index: 5;
}

.book-start-page .button:hover{
  background-color: #55a79b;
  color: #173432;
}

.book-start-page .clip{
  position: absolute;
  width: 30%;
  height: 10%;
  left: 82%;
  top: 47%;
  clip-path: polygon(0 0, 100% 0, 81% 50%, 100% 100%, 0 100%, 0% 50%);
  background-color: #009e88;
  z-index: 0;
}

.book-start-page .page1{
  position: absolute;
  width: 46%;
  left: 4%;
  top: 5%;
  height: 90%;
  z-index: 5;
}

.book-start-page .page2{
  transform: rotate(180deg);
  z-index: 5;
  width: 47%;
  left: 50%;
  top: 5%;
  height: 89.9%;
  position: absolute;
}

.book-start-page .inside1{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.book-start-page .inside2{
  width: 50%;
  left: 50%;
  transform: rotate(180deg);
  height: 100%;
  z-index: 0;
  position: absolute;
}

.book-start-page .bracket{
  position: absolute;
  width: 8%;
  height: 15%;
  left: 0%;
  top: 22%;
  z-index: 5;
}

.book-start-page .pink-border{
  position: absolute;
  width: 6%;
  height: 15%;
  z-index: 0;
  top: 70%;
  left: 1.8%;
  border-radius: 0.5vw;
  background-color: #be1a57;
}

.book-start-page .next-border{
  position: absolute;
  width: 6%;
  height: 15%;
  z-index: 0;
  top: 61%;
  left: 93.4%;
  text-align: center;
  border-radius: 0.5vw;
  background-color: #00c9a8;
}

.book-start-page .next-text{
  position: absolute;
  color: #00957d;
  font-weight: 300;
  font-size: 0.8vw;
  z-index: 45;
  top: 61%;
  left: 96%;
  width: 9%;
  height: 11%;
  text-transform: uppercase;
  transform: rotate(270deg);
  transition-duration: 0.5s;
  cursor: pointer;
}

.book-start-page .next-text:hover{
  color: #035346;
}

.book-start-page .back-text{
  position: absolute;
  color: #537e04;
  font-weight: 300;
  font-size: 0.8vw;
  z-index: 45;
  top: 74%;
  left: 96%;
  width: 9%;
  height: 11%;
  text-transform: uppercase;
  transform: rotate(270deg);
  transition-duration: 0.5s;
  cursor: pointer;
}

.book-start-page .back-text:hover{
  color: #434d02;
}

.book-start-page .back-border{
  position: absolute;
  width: 6%;
  height: 15%;
  z-index: 0;
  left: 93.4%;
  top: 77%;
  border-radius: 0.5vw;
  background-color: #9fb60e;
}

.book-start-page .papers .paper-1{
  position: absolute;
  width: 46%;
  height: 90%;
  left: 4%;
  top: 5%;
  z-index: 15;
}

.book-start-page .papers .paper-2{
  position: absolute;
  width: 47%;
  height: 89.9%;
  left: 50%;
  top: 5%;
  z-index: 15;
}

.book-start-page .papers  .paper-header{
  position: absolute;
  color: #000674;
  background-color: transparent;
  border: none;
  outline: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.8vw;
  left: 9%;
  top: 5%;
  z-index: 1;
}

.book-start-page .papers  .page-number{
  position: absolute;
  color: #6d6b84;
  font-weight: 500;
  font-size: 1vw;
  left: 50%;
  top: 94.7%;
  z-index: 1;
}

.book-start-page .papers .paper-2 .paper-desc{
  position: absolute;
  color: #848484;
  font-weight: 500;
  font-size: 1vw;
  left: 5%;
  width: 50%;
  top: 11.1%;
  z-index: 1;
} 

.custom-input{
  background-color: transparent;
  position: absolute;
  border: none;
  outline: none;
  width: 85%;
  top: 13%;
  height: 16.5%;
  left: 7%;
  font-size: 0.75vw;
  padding: 0.5vw 0.5vw 20.8vw 0.5vw;
  text-align: left;
  line-height: 1.4vw;
  color: #000674;
  text-transform: uppercase;
  resize: none;
  overflow: scroll;
}

::-webkit-scrollbar {
  display: none;
}

